<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--数据库连接信息-->
	<add key="SqlConnect" value="Data Source=HP-HP\SQLEXPRESS;Initial Catalog=TaskManager;User ID=sa;Password=8880203"/>
	<!--SMTP邮件发送信息-->
	<add key="MailInfo" value="{'SmtpHost':'smtp.139.com','SmtpPort':'25','SendMail':'xxx@139.com','UserName':'xxx@139.com','Password':'xxxx','DisplayName':'任务系统通知'}"/>
	<!--联通短信发送数据库连接信息-->
	<add key="LTsmsConnect" value="Data Source=172.21.142.198;Initial Catalog=ShortMsg_New;User ID=sa;Password=8880203"/>
	<!--移动短信发送数据库连接信息-->
	<add key="YDsmsConnect" value="Data Source=172.21.142.108;Initial Catalog=DB_CustomSMS;User ID=sa;Password=Infox1Eies2Sps3Was4!"/>
	<!--同一报警发送间隔分钟-->
	<add key="SmsSpan" value="20"/>
	<!--同一报警每日最大发送次数-->
	<add key="SmsMax" value="2"/>
	<!--报警手机号码以，分隔-->
	<add key="SmsTels" value="13958006233"/>
	<!--到达率报警启动开关-->
	<add key="PerWarn" value="true"/>
	<!--到达率阈值-->
	<add key="PerValue" value="70"/>
	<!--到达率报警开始时间HH:mm-->
	<add key="PerWarnStart" value="22:00"/>
	<!--到达率报警结束时间HH:mm-->
	<add key="PerWarnEnd" value="7:00"/>
	<!--Web管理站点监听端口-->
	<add key="WebPort" value="9000"/>
</configuration>