<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--数据库连接信息-->
	<add key="SqlConnect" value="Data Source=HP-HP\SQLEXPRESS;Initial Catalog=TaskManager;User ID=sa;Password=xxx"/>
	<!--SMTP邮件发送信息-->
	<add key="MailInfo" value="{'SmtpHost':'smtp.139.com','SmtpPort':'25','SendMail':'xxx@139.com','UserName':'xxx@139.com','Password':'xxxx','DisplayName':'任务系统通知'}"/>
	<!--Web管理站点监听端口-->
	<add key="WebPort" value="9000"/>
</configuration>